/***********HTML**************/
body {
    width: 375px;
    background-color: hsl(212, 45%, 89%);
    text-align: center;
    margin: auto;
    position: relative;
    font-size: 15px;
    align-content: center;
    padding-top: 5%;
}
h1{
    font-family: 'Signika Negative', sans-serif;
    width: 80%;
    margin: auto;

}
p{
    font-family: 'Signika Negative', sans-serif;
    color: gray;
    width: 80%;
    margin: 10px auto 50px;
    padding-bottom: 30px;
    line-height: 2;
}

/***********Classes***********/
.container {
    background-color: white;
    text-align: center;
    position: relative;
    font-size: 15px;
    width: 90%;
    margin: 30px auto;
    border-radius: 25px;
    box-shadow: 2.5px 2.5px 2.5px 2.5px #0000003d;
}
.qr-code {
    position: relative;
    width: 90%;
    border-radius: 25px;
    margin: 30px auto 30px;
}
